
.login-block{
  background: #0aa6ee;  
background: -webkit-linear-gradient(to bottom, #0aa6ee, #0aa6ee);  
background: linear-gradient(to bottom, #ffffff, #0aa6ee); 
float:left;
width:100%;
padding : 7%;
}



.Carrusel {
  flex: 1;
  max-width: 150px;
 
}

.carousel-inner img{
  width: 100%;
  height: 100%;
}

.Bienvenido {
  font-family: "Rubik Scribble", Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #0aa6ee;
}

.registro-usuarios {
    flex: 16;
    max-width: 150px;
  text-align: left;
  position: relative;
top: 40px; left: 0px;
  }
  


.registro-usuarios input {
  width: 90%;
  margin-bottom: 10px;
  padding: 8px;
}

.registro-usuarios button {
  width: 90%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
}

.registro-usuarios button:hover {
  background-color: #0056b3;
}
